{% extends "layouts/b.html" %}
{% block content%}

    <h1>Your Cart</h1>
    <ul>
        {% for item in cart.items.all %}
            <div class="cart-item">
                <div class="cart-item-image">
                    <img src="{{ item.shoe.image.url }}" alt="{{ item.shoe.name }}" width="100" height="100">
                </div>
                <div class="cart-item-details">
                   <li>Name: {{ item.shoe.name }} - Size: {{ item.size.name }}  - Price: {{ item.shoe.price }}</li>
                </div>
                <div class ='cart-delete-btn'>
                  <a href="{% url 'delete-cart-item' item.id %}" class="remove-item">Delete</a>
                </div>
            </div>
        {% endfor %}
    </ul>
   <div class='cart-checkout-btn'>
    <a href="{% url 'confirm-checkout' %}" class="btn btn-primary">Checkout</a>
</div>




{% endblock%}
