{% extends "layouts/c.html" %}

    {% block content2 %}
    <h2>Search Here...</h2>
  <form method="get" class="form-container">
    {{ form.as_p }}
    <div class="button-container">
        <button class="search-b">Search</button>
    </div>
</form>

    
    
    <div class="pagination">
    <div class="step-links">
        {% if shoes.has_previous %}
            <div class="pagination-button">
                <a href="?page=1"> First</a>
            </div>
            <div class="pagination-button">
                <a href="?page={{ shoes.previous_page_number }}">Previous</a>
            </div>
        {% endif %}

        <div class="pagination-info">
             {{ shoes.number }}/{{ shoes.paginator.num_pages }}
        </div>

        {% if shoes.has_next %}
            <div class="pagination-button">
                <a href="?page={{ shoes.next_page_number }}">Next</a>
            </div>
            <div class="pagination-button">
                <a href="?page={{ shoes.paginator.num_pages }}">Last </a>
            </div>
        {% endif %}
    </div>
</div>
    {%endblock%}

    <ul>
    {% block content1 %}
    {%  for shoe in shoes %}
    {% include "HomePage/shoe.html" %}
    {% endfor %}
    
    </ul>

    {%endblock%}

