<article class="product-card">
    <figure>
        <a class="product-card__link-overlay" href="{% url 'shoes-view' shoe.id %}" tabindex="-1" style="font-weight: bold;">{{ shoe.name }}</a>
      <a class="image-wrapper" href="{% url 'shoes-view' shoe.id %}">
    <img class="product-card__hero-image" src="{{ shoe.image.url }}">
</a>

        <div class="product-card__info">
            <div class="product-card__count-wrapper">
            </div>
            <div class="product-card__price-wrapper">
                <div class="product-card__price">{{ shoe.price }}$</div>
            </div>
        <div class="product-card__tag-wrapper">
    {% for tag in shoe.tag.all %}
        <a class="product-card__tag" href="{% url 'tag' tag.slug %}">{{ tag.name }}'s shoes</a>
    {% endfor %}
</div>
<div class="product-card__tag-wrapper">
    {% for brand in shoe.brand.all %}
        <a class="product-card__brand" href="{% url 'brand' brand.slug %}">{{ brand.name }}</a>
    {% endfor %}
</div>
    </figure>
</article>