<hero class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('https://i.pinimg.com/originals/5d/4c/ec/5d4cecfea2a608604d1c0b79f192a726.jpg')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
        <h1 class="font1 text-6xl title-fadein"></h1>
      <h1 class="mb-4 text-white" style="font-family: 'Roboto', sans-serif; font-size: 40px; ">Express your'SELF' through your'SHOES' !!!</h1>
        {% if  not user.is_authenticated %}
        <a class="button" href="{% url 'account_login' %}">Get Started</a>
        {% endif %}
    </div>
    
</hero>